@font-face {
	font-family: 'Formular';
	src: url('../fonts/Formular-Light.woff2') format('woff2');
	font-weight: 300; // Light
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Formular';
	src: url('../fonts/Formular.woff2') format('woff2');
	font-weight: 400; // Regular
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Formular';
	src: url('../fonts/Formular-Bold.woff2') format('woff2');
	font-weight: 700; // Bold
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Formular';
	src: url('../fonts/Formular-Black.woff2') format('woff2');
	font-weight: 900; // Black
	font-style: normal;
	font-display: swap;
}
