@font-face {
	font-family: 'Formular';
	src: url('/fonts/formular-light.woff2') format('woff2');
	font-weight: 300; // Light
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Formular';
	src: url('/fonts/formular.woff2') format('woff2');
	font-weight: 400; // Regular
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Formular';
	src: url('/fonts/formular-bold.woff2') format('woff2');
	font-weight: 700; // Bold
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Formular';
	src: url('/fonts/formular-black.woff2') format('woff2');
	font-weight: 900; // Black
	font-style: normal;
	font-display: swap;
}