:root {
	// Цвета
	--color-gray-50: #F9FAFB;
	--color-gray-200: #E5E7EB;
	--color-gray-400: #9CA3AF;
	--color-gray-500: #6B7280;
	--color-gray-900: #111827;

	--color-purple-400: #A78BFA;
	--color-purple-500: #8B5CF6;
	--color-purple-700: #6D28D9;

	// Размеры контейнера
	--container-width: 1536px;
	--container-padding-x: 96px;

	// Повторяющиеся отступы
	--indent: 24px;

	// Border
	--border-radius: 16px;

	// Время анимаций
	--transition-duration: .2s;
}

/*
Добавлен чтобы просто убрать вертикальную
полосу, хз как по другому фиксить
*/
html {
	scrollbar-gutter: auto;
}

body {
	font-family: Formular;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
	color: var(--color-gray-900);
	background-color: var(--color-gray-200);
}
.container {
	// Для корректного учёта ширины учитываем паддинги
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2) ;
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

a {
	color: var(--color-gray-900);
}

a,button,input,textarea,svg *,span {
	transition: var(--transition-duration);
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}