@use "../base/index.scss" as *;

.calculator {

	display: grid;
	grid-template-columns: repeat(12,1fr);
	gap:var(--indent);
	margin: 72px 0;
	
	// calculator__body и его вытекающие
	&__body {
		display: grid;
		gap: var(--indent);
		grid-column: 6 span;
		grid-template-columns: repeat(6,1fr);
	}
	&__wrapper {
		grid-column: 6 span;
	}
	&__title {
		text-align: left;
		font-size: 36px;
		line-height: 1.1;
		font-weight: 900;
		
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	&__description {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__img {
		grid-column: 1/7 ;
		border-radius: var(--border-radius);
	}
	
	// calculator__inner и его вытекающие
	&__inner {
		grid-column: 7/6 span;
		background: var(--color-gray-50);
		border-radius: var(--border-radius) ;
		&-wrapper {
			display: grid;
			grid-template-columns: repeat(6,1fr);
			margin: var(--indent) 0;
			gap:var(--indent);
		}
		&-about {
			grid-column: 2 / 4 span;
		}
		&-title {
			font-size: 30px;
			line-height: 1.2;
			font-weight: 700;
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 16px ;
			}
		}
		&-description {
			text-align: center;
			font-size: 16px;
			line-height: 1.5;
		}
		&-form {
			grid-column: 2 / 4 span;
			display: grid;
			grid-template-columns: repeat(2,1fr);
			gap: var(--indent);
			& #username {
				grid-column: 1 / 2 span ;
			}
		}
		.btn {
			grid-column: 1 / 2 span ;
		}
	}
}
