@use "../base/index.scss" as *;

.reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 72px;

	&__title {
		&:not(:last-child) {
			margin-bottom: 32px;
		}	
	}
	&__container {
		display: flex;
		max-width: 1536px;
		align-items: center;
		gap: 47px;
	}
}

.swiper {
	width: 100%;
	&-slide {
		position: relative;
		display: flex;
		align-items: start;
		min-height: 350px;
		padding: 32px 43px;
		border-radius: var(--border-radius);
		background-color: var(--color-gray-50);
		font-size: 24px;
		line-height: 1.3;
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 75px;
				height: 75px;
				top: 68%;
				left: 85%;
				background: url('/icon/reviews/Quotes.svg') center/contain no-repeat;
			}
		}
	&__description {
		font-weight: 700;
		&:not(:last-child) {
			margin-bottom: 30px;
		}	
	}
	&__who {
		font-weight: 300;
	}

}
