
	// Бургер взят с https://codepen.io/tihomirovpro/pen/NWzEVKV
	// https://codepen.io/tihomirovpro/pen/XWYyGNB
	// Попытался адаптировать
	.burger {
		display: none;
		&__btn {
			// Делаем для бургер видимым
			cursor: pointer;
			display: block;
			position: relative;
			border:none;
			background: transparent;
			width: 24px;
			height: 16px;

			// Добавляем не видимые булочки
			&::before ,
			&::after {
				content: '';
				left: 0;
				position: absolute;
				display: block;
				width: 100%;
				height: 4px;
				border-radius: 10px;
				background: var(--color-purple-400);
			}
			// выносим булочки за пределы середины
			&::before {
				top: 0;
				// отзеркаливаем
				box-shadow: 0 6px 0 var(--color-purple-400);
				/*
				Анимируем, первую булку, когда 
				возвращается в первоначальное состояние
				*/
				transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
			}
			&::after {
				bottom: 0;
				/*
				Анимируем, последнюю булку, когда
				возвращается в первоначальное состояние
				*/
				transition: bottom .3s .15s, transform .3s;
			}
		}
		&__checkbox {
			// Позиционируем инпут и скрываем его
			position: absolute;
			visibility: hidden;
	
			// Нажав на бургер должен появится крестик
			&:checked + .burger__btn::before {
				top: 6px;
				// вращаем на 45 градусов
				transform: rotate(45deg);
				// При вращении убираем по середине булку
				box-shadow: 0 0 0 rgba(0,0,0,0);
				/*
				Анимируем, первую булку, когда
				превращается в крестик
				box-shadow, отвечает за время исчезновение средней булки
				top за сверху вниз,transform первый параметр за время вращения, 
				второй параметр за задержку 
				*/

				transition: box-shadow .15s, top .3s , transform .3s .15s;
			}
			&:checked + .burger__btn::after {
				bottom: 6px;
				// вращаем на -45 градусов
				transform: rotate(-45deg);
				/*
				Анимируем, последнюю булку, когда
				превращается в крестик
				bottom отвечает за анимацию снизу вверх
				transform первый параметр за время вращения, второй
				параметр за задержку 
				*/
				transition: bottom .3s, transform .3s .15s;
			}
		}
	}